/********************************************************/

#screenshot-container{
	display:block; position:relative;
	margin:30px auto 0 auto;
	width:97%; 
	background:#fff;
	z-index:99999;}

#screenshot{
	display:block;
	margin:0 auto;
	max-width:1200px;
    width:84%;}

/********************************************************/

@font-face{
	font-family:platform;
	src:url("./fonts/platform/Platform-Regular.ttf");}

@font-face{
	font-family:platform-light;
	src:url("./fonts/platform/Platform-Light.ttf");}

@font-face{
	font-family:platform-medium;
	src:url("./fonts/platform/Platform-Medium.ttf");}

@font-face{
	font-family:platform-bold;
	src:url("./fonts/platform/Platform-Bold.ttf");}

@font-face{
	font-family:schnyder-m-bold;
	src:url("./fonts/schnyder/schnyder-m-bold.otf");}

/********************************************************/

body{
	background:#e3dcdc;
	overflow-x:hidden !important;}

p::selection,a::selection,li::selection,span::selection,h1::selection,h2::selection,h3::selection,li::selection,img::selection,p::-moz-selection,a::-moz-selection,li::-moz-selection,span::-moz-selection,h1::-moz-selection,h2::-moz-selection,h3::-moz-selection,li::-moz-selection,img::-moz-selection{background:rgba(227,90,75,1.0); color:#fff;}

/********************************************************/

nav{
	display:flex; position:fixed;
	padding:20px 0; top:0;
	width:100vw; height:50px; min-height:57px;
	background:#000;
	z-index:99999;}

blockquote{
	display:block; position:relative; float:left;
	margin-top:64px;
	width:100%; height:auto;}

blockquote span{
	display:block; 
	height:auto;
	font-family:schnyder-m-bold; text-align:center; letter-spacing:15px;
	transform:translateX(0%);
	transition:1.2s transform ease-out, 1.4s color ease-out;}

blockquote span.goal{
	padding:30px 0;
	color:rgb(151,151,151, 0.2);}
blockquote span.history{color:rgb(254,207,187, 0.2);}
blockquote span.success{color:rgb(153,213,210, 0.2);}
blockquote span.legacy{color:rgb(79,52,76, 0.2);}

blockquote.blockquote-transition span{
	color:rgba(0,0,0,0.0);
	transform:translateX(-50px);}

hr{
	width:86%;
	color:rgba(204, 204, 204, 1);
	transition:1.4s width ease-out, 1.5s color ease-out;}

.about-break{
	position:relative; float:left;
	left:50%;
	text-align:center;
	transform:translateX(-50%);}

blockquote.blockquote-transition hr{
	margin:0 auto; padding:0;
	color:rgba(204, 204, 204, 0);
	width:0%;}

blockquote.blockquote-transition h3{
	margin:0 auto; padding:0;
	color:rgba(0,0,0,0);}

blockquote.blockquote-transition h2{
	color:rgba(0,0,0,0);}

#menu-button{
	margin:auto auto auto 6%;
	width:80px;
	background:none;
	border:none;
	cursor:pointer;}

#menu-button span, nav div > div label{
	color:#fff; font-family:"platform"; font-size:14px; letter-spacing:1.5px;}

#menu-button span{
	float:left;
	padding:1px 0 0 12px;
	color:#fff; font-family:"platform"; font-size:14px; letter-spacing:1.5px;
	opacity:1;
	transition:0.2s all;}

#menu-button span.close-menu{
	display:none;
	opacity:0;}

#menu-button ul{
	float:left;
	width:20px;}

#menu-button ul li{
	float:right;
	margin:5px 0 0 0;
	width:42px; height:3px;
	border-top:2px solid #fff;
	transition:0.5s all}


#menu-button ul li:nth-child(2){
	margin:1px 0 0 0;
	width:21px;}

#menu-button ul li:nth-child(1).opened{
	transform:rotateZ(45deg);}

#menu-button ul li.opened{
	margin:8px 0 0 0;}

#menu-button ul li:nth-child(2).opened{
	margin:-6px -1px 0 0px;
	width:41px;
	transform:rotateZ(-45deg);}

nav a{
	margin:auto;}

nav a img{
	display:block; position:relative;
	margin:0 auto;
	width:255px;}

nav > div{
	display:flex; 
	margin:auto;
	width:100%; height:100%;
	text-align:center;}

nav div > div label, nav div > div svg{
	float:left;}

nav div > div label{
	position:absolute;
	padding-top:2px; right:97px;
	transition:0.25s;
	cursor:pointer;}

nav div > div svg{
	position:absolute;
	margin-top:-5px; padding-left:10px; right:57px;
	transform:scale(0.8);}

nav div > div input{
	display:block; position:absolute;
	right:90px; padding:0;
	width:0; 
	background:rgba(0,0,0,0);
	color:#fff;
	border-top:none; border-bottom:0 rgba(255,255,255,0.0) solid; border-right:none; border-left:none;
	transition:0.25s all;}

#mobile-search-container{
	display:none;
	width:100%;
	opacity:0;}

#mobile-search-container label{
	padding-top:10px;
	color:#fff;}

#mobile-search{
	color:#fff;
	background:none; border:none; border-bottom:1px solid #818181;}

#global-search{
	/*margin:margin:auto calc( 5% - -18px ) auto auto;;*/
	margin:auto 5% auto auto;
	cursor:pointer;}

#global-search form{
	width:80px; height:16px;}

nav div > div input.active-search{
	width:200px; 
	border-top:none; border-right:none;border-bottom:1px rgba(255,255,255,1.0) solid;border-left:none;}

h1, h2, h3, h4, h5, p, a, span, li, button{word-break:normal;}

h1{
	color:#fff; font-family:schnyder-m-bold; font-size:90px; text-shadow:0 0 16px 0 #000000, 0 0 16px 0 #000000;}

h2{
	position:absolute; clear:both;
	width:100%;
	top:50%;
	color:#000; font-family:schnyder-m-bold; font-weight:bolder; text-align:center; letter-spacing:2px; text-transform:uppercase !important;
	transform:translateY(-50%);
	transition:1.4s color ease-in-out;}

blockquote h3{
	position:absolute;
	top:50%; left:50%;
	width:100%;
	word-break:break-word;
	color:rgba(0,0,0,1); font-family:"platform-light"; text-align:center; letter-spacing:1px;
	transform:translate(-50%, -50%);
	transition:1.4s color ease-in-out;}

button{
	transition:0.25s all ease-in-out;}

/********************************************************/

#overlay{
	display:flex; position:fixed;
	flex-flow:column;
	padding-top:97px;
	width:100vw; height:120vh;
	z-index:9999;
	text-align:center;
	background:#000;
	opacity:0.0;
	pointer-events:none;
	transition:0.5s opacity;}

#overlay > ul{
	display:flex; flex-flow:column;
	margin:3% auto auto auto;
	width:100%; 
	height:calc( 100vh - 180px );
	/*max-height:645px;*/
	overflow-y:scroll;}

#overlay > ul > li{
	display:flex;
	flex-flow:column;
	/*padding:0 0 40px 0; */
	padding-bottom:40px; 
	margin:auto;
	z-index:99999999;
	cursor:pointer;
	transition:0.25s all;}

#overlay > ul > li > ul{
	display:flex; flex-flow:column;
	padding-top:10px; margin:auto;
	/*height:0;*/
	max-height:0;
	opacity:0;
	overflow:hidden;
	transition:0.25s all;}

.active-nav-sub{
	max-height:155px;
	transition:0.25s all ease-in-out;}

#overlay > ul > li.active-nav-item ul{
	display:flex; flex-flow:column;
	/*height:auto; */
	max-height:0px;
	margin:auto;
	opacity:1;
	transition:0.25s all;}

#overlay > ul > li.active-nav-item ul > li{
	/*padding:5px;*/
	opacity:1;
	transition:0.25s all;}

#subnav li hr, #overlay > ul > li.active-nav-item ul > li > hr{
		margin-top:0; margin-bottom:0;
		width:0%;
		color:#FECFBB !important; text-align:center;
		opacity:0;
		transition:0.25s all ease-in-out;
	}

#subnav li:hover hr, #overlay > ul > li.active-nav-item ul > li:hover hr, .active-subnav hr{
		opacity:1 !important;
		width:100% !important;
		transition:0.25s all ease-in-out;
	}

#overlay > ul > li.active-nav-item p{
	color:rgba(255,255,255,1.0) !important;}

#overlay > ul > li > p{
	display:inline-block; clear:both;
	color:rgba(255,255,255,0.6); font-family:"schnyder-m-bold"; font-size:46px; text-align:center; text-decoration:none; letter-spacing:0.41px;
	opacity:0;
	transition:0.5s all;
	pointer-events:auto;}

#overlay > ul > li > ul > li{
	padding:25px 5px 0px 5px;
	/*line-height:55px;*/
	opacity:0;
	transition:0.25s all ease-in-out;}

#overlay a{
	padding-bottom:4px;
	font-size:18px; font-family:"platform-light"; color:#fff; letter-spacing:0.83px; text-transform:uppercase; text-decoration:none;
	transition:0.25s all ease-in-out;}

.active-overlay-sub{border-bottom:2px solid #FECFBB;}

#overlay > ul > li:hover > p, #overlay > ul > li:active > p{
	color:rgba(255,255,255,1.0) !important;}

#overlay p::selection, #overlay a::selection, #overlay p::-moz-selection, #overlay a::-moz-selection{
	background:none;}


/********************************************************/

#background{
	display:block; float:left; 
	/*position:absolute;*/
	top:0; padding-bottom:60px;
	width:100vw; height:auto;
	background:url("../imgs/background-tile.png") repeat-y; background-size:100% auto;
	z-index:1;}

.background-img-crop{
	display:block; position:absolute;
	top:0;
	width:100vw;
	z-index:0;}

/********************************************************/

#content-container{
	display:block; position:relative;
	margin:210px auto 0 auto; 
	width:95%;
	z-index:10;}

/********************************************************/

#breadcrumbs, h1{
	padding:0 0 20px 8%;}

#breadcrumbs{
	display:block; position:relative; float:left; clear:both;
	width:100%; height:auto;
	background:none;}

#breadcrumbs li a{
	color:#fff; font-family:platform; font-size:12px; letter-spacing:2px; text-decoration:none; font-weight:bolder;}

#breadcrumbs li p{
	padding-top:2px;
	color:#fff; font-family:platform-light; font-size:12px; letter-spacing:2px; text-decoration:none;}

#breadcrumbs li, #breadcrumbs span{
	float:left;
	padding:0 11px 0 0;
	color:#fff; font-family:"Arial", sans-serif; font-size:14px; text-decoration:none;}

#breadcrumbs span{font-size:18px;}

/********************************************************/

#core-content{
	display:block; position:relative; float:left;
	padding:20px 0 100px 0;
	width:100%; 
	background:rgba(255,255,255,1.0);
	z-index:10;
	word-break:break-all;
	overflow:hidden;}

/********************************************************/

#under{
	position:absolute;
	width:100px; height:1px;
	background:#e35a4b;
	transition:0.2s left ease-in-out, 0.21s width ease-in-out;}

#subnav{
	display:block; clear:both;
	margin:20px auto 0 auto;
	width:100%;
	text-align:center;
	word-break:break-word;}

#subnav li{
	display:inline-block; box-sizing:border-box;
	padding:0 20px;
	border-right:1px solid #000;}

.no-border{
	border-right:0 solid #000 !important;}

#subnav li.active-subnav a{
	letter-spacing:2px; font-family:"platform-medium";
	/*border-bottom:1px rgba(227,90,75,1.0) solid;*/}

#subnav li a{
	float:left;
	color:#555; font-family:"platform-light"; font-size:21px; text-decoration:none;
	/*border-bottom:1px rgba(227,90,75,0.0) solid;*/
	transition:0.25s all ease-in-out;}

#subnav li a:hover{
	/*border-bottom:1px rgba(227,90,75,1.0) solid;*/}


/********************************************************/


#stats{
	display:block; clear:both; 
	margin:0 auto; padding:50px 0;
	width:86%;
	text-align:center;}

#stats li{
	display:inline-block;
	width:24%;
	box-sizing:border-box;}

#stats li p{
	padding:0;
	color:#000; font-family:platform-light; font-size:18px; text-align:center;text-decoration:none;
	word-break:break-word;}

#stats li span{
	box-sizing:border-box;
	color:#4F344C; font-family:schnyder-m-bold; font-size:40px; text-align:center;text-decoration:none;}

#stats li img{
	display:block; position:relative; float:left; box-sizing:border-box;
	width:40%; max-width:110px;}

#stats li > div{
	display:block; position:absolute;
	box-sizing:border-box;
	width:20%;
	text-align:center;}

#stats li > div > div{
	display:flex; position:absolute;
	right:0;
	width:50%; height:100%;}

#stats li > div > div > div{
	margin:auto;}


/********************************************************/

.subheader-brief{
	margin:0 auto; padding:0 0 80px 0 !important;
	width:70%;
	color:#000; font-family:platform-light; text-align:center; letter-spacing:1px; line-height:39px; word-break:break-word;
	opacity:1;
	transition:0.6s opacity ease-in-out;}

.subheader-transition{
	opacity:0 !important;}

/********************************************************/

#about{
	display:flex; position:relative; float:left;
	width:98%; height:100%;
	overflow-x:scroll; overflow-y:hidden;}

#about-three-col{
	display:block; clear:both;
	margin:0 auto; padding:50px 0 0 0;
	width:93%; min-width:750px;
	text-align:left;}

#about-three-col li {
	display:block; float:left; position:relative;
	padding:20px; margin:0 0 40px 0;
	width:33.333%; min-width:250px;
	box-sizing:border-box;
	opacity:0;
	transition:0.8s opacity ease-in-out;}

#about-three-col li div{
	/*display:block; position:absolute; */
	display:flex; float:left; flex-flow:column;
	height:100%;
	border-radius:5px;
	transition:0.4s all ease-in-out}

#about-three-col li div:hover{
	box-shadow:0px 0px 18px 2px rgba(0,0,0,0.08);}

#about-three-col li img{
	float:left;
	/*margin:0 auto auto auto;*/
	width:100%;}

#about-three-col li p{
	float:left;
	/*margin:auto;*/
	padding:20px 10px 10px 10px;
	color:#000; font-family:platform-light; letter-spacing:1.5px; line-height:24px;
	word-break:break-word;}

#about-three-col li button{
	padding:20px; margin:auto auto 20px auto;
	background:#fff;
	font-family:platform; font-size:12px; letter-spacing:4.5px; text-align:center; word-break:break-word; white-space:nowrap;
	border:1px solid #000;
	transition:0.25s all ease-in-out;}

#core-content button:hover{
	background:#e35a4b;
	color:#fff;
	border:#fff solid 1px;}

/********************************************************/

.separator-transition img, .separator-transition div {
	opacity:0 !important;}

.separator-transition img{
	transform:translateX(-10px) !important;}

.separator-transition div{
	transform:translate(10px, 0%) !important;}

.separator-half-width{
	display:flex; position:relative; float:left;
	box-sizing:border-box;
	width:100%;}

.separator-half-width > div:nth-child(1){
	width:50%;}

.separator-half-width img{
	display:block; position:relative; float:left;
	box-sizing:border-box;
    width:100%; height:auto;
	opacity:1;
	align-self:center;
	transition:1s transform ease-in, 1.1s opacity ease-in;}

.separator-half-width > div:nth-child(2){
	margin:auto;
	width:50%; height:100%;
	box-sizing:border-box;
	opacity:1;
	transition:1.4s transform ease-in, 1.15s opacity ease-in;}

.separator-half-width > div:nth-child(2) > div{
	width:100%;}

.separator-half-width h3{
	position:relative;
	padding:0 0 30px 0; margin:0 auto;
	width:80%;
	text-align:center; line-height:40px;}

.separator-half-width button{
	display:block;
	margin:0 auto;
	background:#fff; 
	font-family: platform; letter-spacing: 4.5px; text-align: center; word-break: break-word;
	border:1px solid #000;}

.separator-half-width.flip-separator{
	flex-flow:row;}

/********************************************************/


footer{
	display:block; float:left;
	padding:134px 10px 0 0;
	width:100%; height:auto;
	background:linear-gradient(rgba(0,0,0,0.875), rgba(0,0,0,0.875)), url("../imgs/map.png") no-repeat;
	/*background-size:200% auto; */
	background-size:cover; 
	/*background-position:-400px 0;*/
	z-index:99999999999999999999999;}

footer > div{
	position:relative;
	margin:0 auto; padding:210px auto 0 auto;
	width:92%;}
	
footer > div:nth-child(2){
	display:flex; flex-flow:row;
	width:100%; height:auto;
	background:#000;}

footer p{
	color:#fff;}

footer hr{
	float:left;
	width:100%;}

footer button{
	background:none;
	color:#fff;
	border:1px solid #fff;}

#footer-info{
	float:left;
	padding-bottom:200px;
	width:100%;}

#footer-info h4{
	padding-bottom:15px;
	color:#fff; font-size:18px; font-family:schnyder-m-bold; letter-spacing:1px;}

#footer-info h5{
	color:#fff; font-family:schnyder-m-bold; font-size:38px; letter-spacing:1px;}

#footer-info > li{
	float:left;
	box-sizing:border-box;}

/****************************************/

#footer-column-a{
	padding-right:20px;
	width:40%;}

#footer-column-a img{
	padding:0 0 30px 0;}

#footer-column-a a{
	color:#E35A4B;}

#footer-column-a ul > li:nth-child(2){
	float:left;
	padding-bottom:20px;}

#footer-info p{  
	width:98%;
	line-height:28px; letter-spacing:1px;}

#footer-info p{
	color:#fff; font-family:platform-light; font-size:16px;}

/****************************************/

#footer-column-b, #footer-column-c{
	width:30%;}

#footer-column-b {
	padding-bottom:40px;}

#footer-column-b a{
	color:#ccc; font-family:platform-light; font-size:14px; text-decoration:none;}

#footer-column-b > ul > li{
	padding-bottom:20px;}

#footer-column-b > ul > ul{
	float:left;
	padding-top:20px;}

#footer-column-b > ul > ul > li{
	float:left;
	margin:0 10px 0 0;
	width:45px; height:45px;
	border-radius:30px;
	overflow:hidden;}

#footer-column-b > ul > ul > li > img{
	width:100%; height:100%;}

/****************************************/

#footer-column-c button{
	padding:20px;
	font-size:14px; letter-spacing:7px; text-transform:uppercase;}

/****************************************/

/*#footer-info > li:nth-child(1){
	width:50%;}
*/
/*#footer-info > li:nth-child(2), #footer-info > li:nth-child(3){
	width:25%;}
*/


#footer-bar{
	/*display:flex; flex-flow:row;*/
	margin:0 auto;
	width:91%;}

#footer-bar > li{
	float:left;
	margin:auto; padding:20px 0;
	width:50%; box-sizing:border-box;}

#footer-bar > li > ul{
		/*display:flex;*/
		/*flex-flow:row;*/
	}

#footer-bar > li > ul > li{
	float:left;
	padding:0 10px; 
	height:auto;
	border-right:1px #fff solid;
	opacity:0.5;}

#footer-bar > li > ul > li:nth-child(1){
	padding-left:0px;}

#footer-bar > li > ul > li:nth-child(5){
	padding-right:0px;}

#footer-bar p{
	opacity:0.5;}

#footer-bar a, #footer-bar p{
	float:left;
	color:rgba(255,255,255,1); font-family:platform-light; font-size:12px; text-decoration:none; letter-spacing:3.5px;}


/********************************************************/

/* ONE OFF RESPONSIVE FIXES */
@media screen and (max-width:360px){
	blockquote span{
		padding:10px 0;}

	blockquote h3{
		width:80% !important;
		font-size:16px !important;}}

@media screen and (max-width:660px){
	#content-container{
		margin:26% auto 0 auto !important;}}

@media screen and (min-width:810px){
		#about{
			overflow-x:visible;}} 

@media screen and (max-width:810px){ 
	nav{
		max-height:57px;}
	
	.active-search{
		width:110px !important;}

	nav img{
		width:auto !important; max-height:25px;}
	
	#about-three-col li p{
		padding:20px 10px 0px 10px;}}

@media screen and (max-width:1024px) and (min-width:840px){
	#subnav{
			margin-bottom:0 !important;}}


/*Screen width: 1920*/
/*Content width: 1400*/

/*Screen width: 1350*/
/*Content width: 1024*/

/*Screen width: 1024*/
/*Content width: 768*/

/*Screen width: 320*/
/*Content width: 260*/


@media screen and (min-width:1350px){
		
		/* PAGE HEADER / BREADCRUMBS */
		h1{
			font-size:112px !important; letter-spacing:1px; text-shadow:0 0 30px 0 #000000, 0 0 30px 0 #000000;}
		
		#breadcrumbs li p, #breadcrumbs li a{
			font-size:16px; letter-spacing:5px;}
		
		
		/* FULL WIDTH HEADER SECTIONS */
		h2{
			font-size:46px; letter-spacing:2.88px;}
		
		h3{
			font-family:platform-light; font-size:42px; line-height:55px; letter-spacing:1.94px;}

		.goal{
			font-size:262px; letter-spacing:18.19px;}

		blockquote.section-header{
			margin-bottom:100px;}

		blockquote.section-header span{
			font-size:100px; letter-spacing:5.56px;}

		.subheader-brief{
			font-size:28px; letter-spacing:2px; line-height:38px;}


		/* SUB NAVIGATION BAR */
		#subnav li a{
			font-size:24px; letter-spacing:2px;}

		button{
			padding:20px;
			font-size:14px; letter-spacing:7px; text-transform:uppercase;}

		
		/* ANIMATED STATS */
		#stats{
			padding:80px 0;}
		
		#stats li span{
			font-size:46px; letter-spacing:2.88px;} 
		
		#stats li p{
			font-size:16px; letter-spacing:1px;}

		
		/* THREE COLUMN SECTION */
		#about-three-col li {
			/*height:650px;*/
		}

		#about-three-col li p{
			font-size:18px; letter-spacing:1.29px; line-height:24px;}

		
		/* FULL WIDTH SECTIONS CONTAINING 50% WIDTH IMAGE + 50% WIDTH TEXT/BUTTON SECTION */
		.separator-half-width{
			flex-flow:row-reverse;}

		.separator-half-width h3{
			font-size:36px; line-height:50px; letter-spacing:1.67px;}
	}



@media screen and (max-width:1350px) and (min-width:1024px){
		
		/* PAGE HEADER / BREADCRUMBS */
		h1{
			font-size:78.75px; letter-spacing:0.7px; text-shadow:0 0 21px 0 #000000, 0 0 21px 0 #000000;}
		

		/* FULL WIDTH HEADER SECTIONS */
		h2{
			font-size:36px; letter-spacing:2px;}

		h3{
			font-family:platform-light; font-size:28px; line-height:36.7px; letter-spacing:1.3px;}
		
		blockquote.section-header{
			margin-bottom:30px;}

		blockquote.section-header span{
			font-size:70.31px; letter-spacing:3.91px;}

		.subheader-brief{
			font-size:20px; letter-spacing:1px; line-height:26px; text-align:left;}

		
		/* SUB NAVIGATION BAR */
		#subnav li a{
			font-size:17px; letter-spacing:1.41px;}

		
		/* ANIMATED STATS */
		#stats{
			padding:80px 0;}

		#stats li span{
			font-size:28px; letter-spacing:1.76px;}
		
		#stats li p{
			font-size:13px;}
		
		.goal{
			font-size:203px; letter-spacing:14.06px;}
		
		
		/* THREE COLUMN SECTION */
		#about-three-col li {
			/*height:599px;*/
		}

		#about-three-col li p{
			padding:20px 10px 10px 20px;
			font-size:14px; letter-spacing:1px;}

		button{
			padding:15px 40px;
			font-size:14px; letter-spacing:5.83px;}
	
		
		/* FULL WIDTH SECTIONS CONTAINING 50% WIDTH IMAGE + 50% WIDTH TEXT/BUTTON SECTION */
		.separator-half-width{
			flex-flow:row-reverse;}
	}



@media screen and (max-width:1024px) and (min-width:460px){
		
		/* PAGE HEADER / BREADCRUMBS */
		h1{
			font-size:59px; letter-spacing:0.53px; text-shadow:0 0 16px 0 #000000, 0 0 16px 0 #000000;}

		#breadcrumbs li p{
			padding-top:5px;}

		#breadcrumbs li a, #breadcrumbs li p{
			font-size:9px; letter-spacing:2px;}


		/* FULL WIDTH HEADER SECTIONS */
		h2{
			font-size:26px; letter-spacing:1.44px;}

		h3{
			font-family:platform-light; font-size:20px; line-height:27.53px !important; letter-spacing:0.93px;}

		blockquote{
			margin-top:35px;}

		blockquote.section-header{
			margin-top:30px; margin-bottom:30px;}

		blockquote.section-header span{
			font-size:53px !important; letter-spacing:2.93px !important;}

		.subheader-brief{
			padding:0 0 50px 0 !important;
			font-size:16px; letter-spacing:1.14px; line-height:22px;}

	
		/* SUB NAVIGATION BAR */
		#subnav li a{
			font-size:14px !important; letter-spacing:1.17px;}

		
		/* ANIMATED STATS */
		#stats li span{
			font-size:32px; letter-spacing:2.02px;}
		
		#stats li p{
			font-size:11.25px; letter-spacing:0.7px;}
		
		.goal{
			font-size:152px; letter-spacing:10.55px;}

		
		/* THREE COLUMN SECTION */
		#about-three-col {
			padding:0;}

		#about-three-col li {
			margin:0 0 80px 0;
			/*height:476px;*/
		}
		
		#about-three-col li p{
			color:#000; font-size:14px; letter-spacing:1px; line-height:14px;}

		#about-three-col li button, .separator-half-width button{
			padding:10px 20px;
			color:#000; font-size:12px; 
			/*letter-spacing:5px; */
			letter-spacing:4.5px; text-transform:uppercase;}

		
		/* FULL WIDTH SECTIONS CONTAINING 50% WIDTH IMAGE + 50% WIDTH TEXT/BUTTON SECTION */
		.separator-half-width{
			flex-flow:row-reverse;
			margin:0 0 20px 0;}
	}


@media screen and (max-width:760px){
	#footer-column-a{width:100%;}
	#footer-column-b, #footer-column-c{width:100%;}
	#footer-column-c{
		float:right !important;
		clear:both !important;}
	#footer-column-b{
		padding-right:0;}
	#footer-column-b hr{
		width:100%;}
	#footer-column-c{
		padding-right:0;}
	#footer-column-c button{
		width:100%;
		letter-spacing:6px !important;}
	#footer-column-b > ul > ul{
			display:flex; flex-flow:row;
			width:100%;}
	#footer-column-b > ul > ul > li{
		margin:auto;}
}

@media screen and (min-width:760px) and (max-width:1024px){
	#footer-column-a{width:50%;}
	#footer-column-b, #footer-column-c{width:50%;}
	#footer-column-c{
		float:right !important;
		clear:both !important;}
}

@media screen and (max-width:760px){

		/* BACKGROUND IMAGE */
		.background-image-crop{
			top:50px;}
		
		#background{
			background-size:100% auto; background-position-y:60px;}

		/* NAVBAR ELEMENTS */
		nav{
			padding:5px 0;}

		nav a{
			float:left;
			margin:auto auto auto 2.5%;}

		nav > div{
			flex-flow:row-reverse;}

		#global-search{
			display:none;}

		#mobile-search-container{
			display:flex !important;
			flex-flow:column;
			opacity:1 !important;}

		#mobile-search-container form{
			}

		#mobile-search-container label{
			position:absolute;}

		#menu-button, #menu-button ul{
			float:right;}

		#menu-button{
			margin:auto 2.5% auto auto !important;}

		#menu-button span{
			display:none !important;}


		/* NAVIGATION OVERLAY */
		/*#overlay p{
			font-size:26px;}*/

		#overlay > ul{
			margin:40px auto auto auto;}

		#overlay > ul > li{
			margin:10px auto 0 auto;}

		#overlay > ul > li{
			padding:0 0 10px 0;}

		#overlay > ul > li > p{
			font-size:30px !important;}

		/*#overlay > ul > li > ul{
			overflow-y:scroll;}*/

		#overlay a{
			font-size:16px !important;}

		#overlay > ul > li.active-nav-item ul{
			max-height:150px;}

}



@media screen and (max-width:460px){
		h1{
			font-size:30px;}
		
		#content-container{
			margin:30% auto 0 auto !important;}

		#breadcrumbs li, #breadcrumbs span{
			padding:0 6px 0 0;}

		#breadcrumbs, h1{
			padding:0 0 10px 6%;}

		#breadcrumbs{
			display:block !important;
			padding-bottom:20px;}
		
		#breadcrumbs span, #breadcrumbs a{
			font-size:10px !important;}

		
		/* CONTENT BODY WRAPPER */
		#screenshot-container{
			left:0px; 
			margin:0px auto 0 auto !important;
			width:100%;}


		/* SUB NAVIGATION BAR */
		#subnav{
			display:none;}

	
		/* ANIMATED STATS */
		#stats{
			padding:0;
			width:90% !important;}

		#stats li{
			float:left;
			padding:3px;
			width:25%;}

		#stats li p{
			padding-top:5px;
			font-size:10px;}

		#stats li img{
			padding-bottom:10px;}

		#stats li span{
			padding-bottom:10px;
			letter-spacing:1.82px;}

		#stats li span, h2{
			font-size:20px;}

			
		/* THREE COLUMN SECTION */
		#about-three-col{
			float:left;
			padding:0 !important;}

		#about-three-col li{
			padding:20px 5px 20px 20px;
			/*width:unset; */
			min-width:220px; min-height:433px;}

		#about-three-col li p{
			font-size:12px; line-height:14px; letter-spacing:1px;}


		/* FULL WIDTH HEADER SECTIONS */
		h2{
			letter-spacing:0.94px;}		
		
		/*p, a{
			font-size:12px;}*/
		
		hr{
			width:88%;}

		blockquote{
			margin-top:10px;}

		blockquote h3{
			width:70%;
			font-size:16px; line-height:20px;}
		
		blockquote h3 br{
			display:none;}

		blockquote span{
			padding:10px 0;
			font-size:50px; letter-spacing:2.22px;}

		blockquote.section-header{
			margin-bottom:20px;}

		blockquote.section-header span{	
			font-size:40px; letter-spacing:2.22px;}
			
		#about-three-col button{
			padding:10px 20px !important;
			font-size:10px !important; letter-spacing:3.33px !important;}

}


@media screen and (max-width:760px){

		/* BACKGROUND IMAGE */
		.background-image-crop{
			top:50px;}
		
		#background{
			background-size:100% auto; background-position-y:60px;}


		/* NAVBAR ELEMENTS */
		/*nav{
			padding:5px 0;}

		nav a{
			float:left;
			margin:auto auto auto 2.5%;}

		nav > div{
			flex-flow:row-reverse;}

		#global-search{
			display:none;}

		#mobile-search-container{
			display:flex !important;
			flex-flow:column;
			opacity:1 !important;}

		#mobile-search-container form{
			}

		#mobile-search-container label{
			position:absolute;}

		#menu-button, #menu-button ul{
			float:right;}

		#menu-button{
			margin:auto 2.5% auto auto !important;}

		#menu-button span{
			display:none !important;}*/


		/* NAVIGATION OVERLAY */
		/*#overlay p{
			font-size:26px;}*/

/*		#overlay > ul{
			margin:40px auto auto auto;}

		#overlay > ul > li{
			margin:10px auto 0 auto;}

		#overlay > ul > li{
			padding:0 0 10px 0;}

		#overlay > ul > li > p{
			font-size:30px !important;}*/

		/*#overlay > ul > li > ul{
			overflow-y:scroll;}*/

/*		#overlay a{
			font-size:16px !important;}

		#overlay > ul > li.active-nav-item ul{
			max-height:150px;}*/

		
		/* PAGE HEADER / BREADCRUMBS */
		
		/* SUBHEADER PARAGRAPH */
		.subheader-brief{
			float:left;
			margin:unset; padding:0 20px 20px 16px !important;
			width:88%;
			font-size:12px; letter-spacing:1px; line-height:14px; text-align:left;}

		.separator-half-width{
			display:block !important;
			padding:16px;}

		.separator-half-width h3{
			padding:0 0 10px 0;
			width:100%;
			font-family:platform-light; font-size:12px; text-align:left; line-height:15px; letter-spacing:1px;}

		.separator-half-width button{
			padding:0 0 10px 0; 
			margin:unset;
			background:none;
			font-family: schnyder-m-bold; font-size:12px; text-align:left; text-decoration:underline; letter-spacing:0.75px !important; 
			border:1px solid rgba(255, 255,255, 0);}
		
		.separator-half-width button:hover{
			background:none !important;
			border:1px solid rgba(255, 255,255, 0) !important;}
			
		.separator-half-width img{
			width:100%;
			padding-bottom:30px;}

		.separator-half-width > div:nth-child(1){
			width:100% !important; height:170px;
			overflow:hidden;}

		.separator-half-width > div:nth-child(2){
			width:100%;
			padding:20px !important;
			background:#ddd;}

		/* ADJUSTMENT FOR SEPARATOR TRANSITIONS ON MOBILE DEVICES */
		.separator-transition img{
			transform:translateX(0px) !important;}

		.separator-transition div{
			transform:translate(0px, 0%) !important;}
		
		#footer-column-a a{font-size:16px;}

		#footer-info > li{
			width:100%;}

		#footer-bar > li{width:100%;}
		#footer-bar > li:nth-child(1){padding-bottom:0;}
		#footer-bar > li:nth-child(2) > ul > li:nth-child(1){padding-left:0;}
	}



@media screen and (max-width:840px){
		
		/* SUB NAVIGATION BAR */
		#subnav{
			margin-bottom:40px;}

		#subnav li{
			padding:0 10px;}

		#subnav li a{
			font-size:18px;}


		/* ANIMATED STATS */
		#stats{
			width:83%;
			padding:0 !important;}

		#stats li > div{
			position:relative;
			width:100%;}

		#stats li > div > div{
			position:relative;
			width:100%;}
		
		#stats li img{
			float:none; clear:both;
			width:100%; max-width:none;}


		/* THREE COLUMN SECTION */
		#about-three-col{
			padding:0 0 0 5%;}
	}


@media screen and (max-height:400px){
	#overlay p{
		font-size:12px !important;
	}
	#overlay a{
		font-size:12px !important;
	}
}



@media screen and (max-width:350px){
	#footer-column-b > ul > ul > li{
		width:40px !important; height:40px !important;
	}
}